<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>Project_test_0.1</display-name>
  <welcome-file-list>
    <welcome-file>html/SurveyPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Mainservlet</display-name>
    <servlet-name>Mainservlet</servlet-name>
    <servlet-class>com.servlet.Mainservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mainservlet</servlet-name>
    <url-pattern>/Mainservlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Mainservlet</servlet-name>
    <url-pattern>/stddata</url-pattern>
  </servlet-mapping>
</web-app>